.calender-dropdown{
    background-color: #8fb98c;
    width: 10em;
    height: 2em;
    cursor: pointer;
}

.calender-dropdown-trigger > ul{
    background-color: #2a5081;
    list-style: none;
    height: 10em;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.calender-list:hover{
    background: burlywood;
    cursor: pointer;
}

.calender-dropdown.a:hover{
    background: #8B95A6;
}

.calender-dropdown-trigger.active{
    opacity: 1;
    visibility: visible;
}

.calender-dropdown-trigger.inactive{
    opacity: 0;
    visibility: hidden;
}

.calender {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: var(--main_text_color);
    padding-top: 240px; /* amount moved down from navbar */
}

.calender h3 {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight: 600;
}

.calender img{
    position: relative;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}