@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.calender-dropdown{
    background-color: #ffffff;
    border-radius: 20px;
    color: #000000;
    text-align: center;
    width: 12em;
    height: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#selectedDate {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 26px;
    font-family:  'Fredericka the Great', cursive;;
   
}

#buyTitecktsTitle {
background-color: #2423335b;
    
}

#buyTicketsTitle {
    font-family:  'Fredericka the Great', cursive;;
    padding: 20px;
}

hr {
    background-color: rgba(251, 252, 253, 0.616);
    margin: 20px;
}


.wrapMovieList div {
    display: flex;   
    border-radius: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
  
    /* background-color: #24233359; */
    
}

#calender-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   /*  z-index: 999; */
    bottom: 200px;

}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  
}


#btn {
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 50px;
    transition: all .4s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: rgb(255, 254, 254);
    cursor: pointer;
    margin: 10px;
}

#btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: rgb(178, 29, 29);
    transition: .4s;
    color: white;

}



.wrap h2 {
    font-family: 'Fredericka the Great', cursive;
}



.calender-dropdown-trigger > ul{
    background-color: #2a508100;
    text-align: center;
    list-style: none;
    height: 10em;
    width: 12em;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    font-family:  'Fredericka the Great', cursive;;
    
}

.movie-list {
    display: flex;
 
}

#movieImg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 700px;
    height: 500px;
    transition: 1s;
    border-radius:15px;
    border:2px solid#28616d41;
}




#movieImg:hover {
    transform:scale(1.05);
    border-color:#2ca3bb61;
}

.calender-list{
    font-size: 20px;
    background-color: #3a3a3a71;
}

.calender-list:hover{
    background: rgb(96, 99, 114);
    cursor: pointer;

   
}

.calender-dropdown.a:hover{
    background: #8B95A6;
}


.calender-dropdown-trigger {
    position: fixed;
    transition: all 1s ease-in-out;
    height: 0;
    overflow: hidden;
    background-color: #4f0808;
    border: 2px inset rgb(118, 113, 113);   
  }
  


.calender-dropdown-trigger.active{
    opacity: 1;
    visibility: visible;
    z-index: 999;
    position: absolute;
    height: auto;
}

.calender-dropdown-trigger.inactive{
    opacity: 0;
    display: none;
}

.calender {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #242333;
    color: var(--main_text_color);
    padding-top: 240px;
}

#calenderSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/it5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 0;

}

.calender h3 {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight: 600;
}

.calender h2{
    margin: 1rem;
    margin-top: 0.3rem;
    color: white;
    font-size: 33px;
    min-width: 200px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight: 400;
}

.calender img{
    position: relative;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieLength{
    color: #8c8c8c;
    position: relative;
    left: 100px;
    font-size: 20px;
    z-index: 2;
    visibility: visible;
}

@media screen and (max-width: 550px){

    .calender {
        justify-content: center;
        align-items: flex-start;
        padding-top: 260px;
        display: grid;
        grid-template-columns: repeat(2, max-content);
    }

    .non-image-items {
        position: absolute;
        top: 0;
        width: 100vw;
        margin-top: 3.5rem;
    }
    .calender h2 {
        font-size: 50px;
        min-width: 300px;
        margin-top: -0.2rem;
    }

    #calenderSection {
        
            padding-top: 50px;
        
    }

    .movie-list h3 {
        font-size: 15px;
    }

    
}



@media screen and (max-width: 550px) {
    .wrapMovieList {
        flex-direction: column;
    }

    #movieImg {
        width: 200px;
        height: 200px;
    }

    .calender   {
        justify-content: flex-start;
        align-items: flex-start;
        
    }

    
}

@media only screen and (min-device-width: 320px) and (max-device-width: 890px) and (orientation: landscape) {

    #calenderSection{
        padding-top: 30px;
    }

    aside {
        display: flex;
      }
      
    
      nav {
        display: none;
      }

    .wrapMovieList {
        flex-direction: column;
    }

    #movieImg {
        width: 200px;
        height: 200px;
    }

    .calender   {
        justify-content: flex-start;
        align-items: flex-start;
        
    }
  }

