.background-image {
    background-image: url("../images/bakgrund.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}

.transparent-background {
    background-color: white;
    opacity: 0.8;
    margin-left: 780px;
    margin-right: 780px;
}

h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 380px;
}

.btn {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

button {
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: red;
    color: white;
    transition: 3s;
}

.center-btn {
    margin: 0 auto;
    
    text-align: center;
}