@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lacquer&family=Metal+Mania&family=Niconne&family=Poppins:wght@200&family=Rubik+Wet+Paint&family=Slackey&family=Yuji+Boku&display=swap');
.background-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bakgrund.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}



.btn {
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 50px;
    transition: all .4s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: rgb(255, 254, 254);
    cursor: pointer;
    margin: 10px;
    
  
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: rgb(178, 29, 29);
    transition: .4s;
    color: white;
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }


.darken-lower-part {
    position: relative;
  }

.darken-lower-part {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, #0000001c,  #000000f4);
    
  }

.transparent-background {
    background-color: rgba(249, 245, 245, 0.611);
    opacity: 0.8;
    width: 400px;
}

h2 {
    font-size: 2vw;
    color: rgb(96, 5, 5);
    font-family: 'Lacquer', cursive;
    text-align: center;
    margin: 1rem;
   
}

.section-top-movies {
    background-color: black;
}

.title {
    font-family: 'Fredericka the Great';
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.center-btn {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}



.more-movies {
    padding: 20px;
}

.top-movies {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    transition: all 2s ease-in-out;
}

.top-movies img {
    height: 400px;
    width: 400px;
    transition: 1.5s;
}

.top-movies img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.top-movies h3 {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-weight: 600;
  }

.top-movies h3:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 550px) {
    .top-movies img {
        height: 200px;
        width: 200px;
    }

    .top-movies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
      }
      
      .top-movies img {
        position: relative;
        border-radius: 20px;
        width: 225px;
        height: 225px;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .more-movies {
        margin-bottom: 25px;
      }

      .transparent-background {
        background-color: rgba(249, 245, 245, 0.642);
        opacity: 0.8;
        width: 90vw;
    }
}

@media screen and (max-height: 550px) {
    .top-movies img {
        height: 200px;
        width: 200px;
    }

    .top-movies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
      }
      
      .top-movies img {
        position: relative;
        border-radius: 20px;
        width: 225px;
        height: 225px;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .more-movies {
        margin-bottom: 25px;
      }
}
