* {
  outline: solid 1px green;
}

:root {
  --body_background_color: rgb(6, 57, 84);
  --header_background_color: gray;
  --section_background_color: rgb(41, 41, 41);
  --footer_background_color: rgb(78, 78, 78);
  --font_color: white;
  --navbar_padding: 0px 20px 0px 20px;
  --dropdown_padding: 20px;
}

body {
  background-color: var(--body_background_color);
  color: var(--font_color);
  overflow-x: hidden;
  margin: 0;
}

header {
  background-color: var(--header_background_color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 70px;
  
}

nav a {
padding: var(--navbar_padding);
text-decoration: none;
color: white;
}

header h1 {
padding: var(--navbar_padding);
}

aside {
  padding: var(--navbar_padding);
}
section {
  background-color: var(--section_background_color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

footer {
  background-color: var(--footer_background_color);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
