:root {
    --button_padding: 0.25rem 1rem 0.25rem 1rem;
}

.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

.movies input {
    outline: solid 1px white;
    background-color: black;
    color: white;
}

.movies button {
    padding: var(--button_padding);
    border-radius: 25px;
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.movie-list-item {
}

.movie-list img {
  border-radius: 20px;
  width: 225px;
  height: 225px;
  object-fit: cover;
  display: flex;
}

@media screen and (min-width: 550px) {

  }
