:root {
    --button_padding: 0.25rem 1rem 0.25rem 1rem;
}

.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
  padding-top: 3.7rem; /* to move content down from navbar */
}

.movies input {
    outline: solid 1px white;
    background-color: black;
    color: white;
}

.movies button {
    padding: var(--button_padding);
    border-radius: 25px;
    margin: 1rem;
}

.movies input {
  margin: 1rem;
}
.movies h3 {
  position: absolute;
  z-index: 2;
}

.movies h2 {
margin: 1rem;
color: white;
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.movie-list img {
  position: relative;
  border-radius: 20px;
  width: 225px;
  height: 225px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 550px) {

  }
