@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Niconne&family=Nosifer&family=Poppins:wght@200&display=swap');

.quotebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 160px;
}

.quotebox h2 {
    margin: 0;
}

.quote {
    font-family: 'Fredericka the Great';
}

.byline {
    font-size: 1rem;
}

.fading {
    animation: fadeInOut ease 15s;
    animation-iteration-count: infinite;
}

@keyframes fadeInOut {
    0% {
        opacity:0;
    }

    45% {
        opacity:1;
    }

    65% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
 }