section {
  
 
    justify-content: center;
    align-items: center;
    background-color: #242333;
}

.section-seatPicker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242333;
    color: white;
    height: 100vh;
    font-family: 'Poppins', cursive
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.row {
    display: flex;
    justify-content: center;
}

.screen {

    height: 70px;
    width: 180px;
    background-color: white;
    margin: 15px 0;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.75);
}

.seat.selected {
    background-color: #26d4f7;
}

.seat.occupied {
    background-color: rgb(207, 15, 15);
}

.seat.plusSeat{
    background-color: rgb(236, 150, 0);
}

.seat:not(.occupied):hover {
    background-color: #26d4f7;
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: 1;
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

.container{
    perspective: 200px;
    margin-bottom: 30px;
}

.seat.occupied {
    background-color: red;
}

.seat-list {
    display: flex;
    width: 300px;
    justify-content: center;
}

.message {
    margin-left: 10px;
}

.seatsWrap{
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 equal-width columns */
    grid-template-rows: repeat(6, 1fr); /* 6 equal-height rows */

}

.seating-chart {
    
  }


  .seat.occupied {
    background-color: rgb(207, 15, 15);
}