#account-body {
    display: flex;
    align-items: center;
}

#account-page-form {

}

#account-headline {
    margin-top: 5rem;
    font-size: 2.2rem;
    color: gray;
}

.input-element {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.pass-input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.account-button {
    display: block;
    margin-bottom: 30px;
}

#change-password {
    display: inline;
    position: relative;
    left: 25px;
    top: -17px;
    margin-bottom: 30px;
}