.cover {
    background-color: rgba(0, 0, 0, 0.548);
    width: 30em;
    height: 40em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.account a {
    text-decoration: none;
    color: inherit;
}

.button-group {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 220px;
}

.hide-popup {
    display: none;
}

.login-popup {
    position: absolute;
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: transparent;
    color: rgb(170, 0, 0);
    bottom: 70px;
    transform: scale(1);
    transition: 1.5s;
}

.account input {
    margin-top: 5px;
    font-size: 15px;
    border: 1px solid black;
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: left;
}

.account input:focus {
    outline-color: red;
}

.account label {
    width: 80%;
    margin: 5px;
}

::placeholder {
    color: black;
    opacity: 25%;
}

.button-text {
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .cover {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        box-shadow: 0 0 0 0;
    }
}