@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Questrial');

:root {
    --body_background_color: rgb(6, 57, 84);
    --header_background_color: gray;
    --section_background_color: rgb(41, 41, 41);
    --footer_background_color: #0B1321;
    --font_color: white;
    --navbar_padding: 0px 20px 0px 20px;
    --dropdown_padding: 20px;
}

body {
    background-color: var(--body_background_color);
    color: var(--font_color);
    overflow-x: hidden;
    margin: 0;
}


footer {
    background-color: var(--footer_background_color);
    color: #8B95A6;
    font-family: Questrial;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content {
    margin-left: 20%;
}

footer h2 {
    font-family: Poppins;
    font-size: 1.2em;
    color: var(--font_color);
    margin: 0px;
    text-align: left;
}

footer h3 {
    font-family: Poppins;
    color: #8B95A6;
    margin: 0;
}

footer li {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 5px;
}

footer ul {
    margin: 0 0 30px;
}

#footer-line {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

footer p {
    margin: 0 0 30px;
    max-width: 450px;
}

footer a {
    color: #8B95A6;
}

footer a:active {
    color: #8B95A6;
}

footer a:visited {
    color: #8B95A6;
}

#mail-and-phone {
    margin-top: 20px;
}


@media only screen and (min-width: 992px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        column-count: 4;
        min-height: 220px;
        break-before: auto;
    }

    .footer-content {
        margin-left: 0;
        margin-top: 50px;
    }

    footer h2 {
        text-align: left;
    }

    #footer-line {
        position: absolute;
    }

    footer li {
        margin-bottom: 0px;
    }
}