.filter-options {
  width: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  z-index: 200;
  margin-top: -1px;
  padding-bottom: 1.5rem;
  border: solid 1px #4d97b9;
  border-radius: 10px;
  font-family: inherit;
}



.filter-menu-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#aligned-button-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-filter-version {
  height: 20px;
  width: 30px;
  font-size: 15px;
  font-weight: 500;
}

#filter-menu-title {
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.filter-category {
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem;
  margin: 0;
}

.letter-filters {
  display: flex;
}

.date-filters {
  display: flex;
}

.filter-option-button {
  background-color: rgb(3, 26, 38);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  color: var(--main_text_color);
  user-select: none;
  padding: 1.5rem;
  border-radius: 10%;
  border-color: #ffffff;
  transition: 0.5s;
  margin: 3px;
}

.filter-option-button:hover {
  background-color: rgb(3, 26, 38);
  cursor: pointer;
  border-color: #4d97b9;
}

@media screen and (min-width: 680px) {
  .filter-options {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 333px;
  }
}
.filterButton {
  padding: 0;

}