:root {
  --button_padding: 0.25rem 1rem 0.25rem 1rem;
  --main_text_color: white;
}

/* non media-query CSS used for phone responsiveness */
.movies {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: var(--main_text_color);
  padding-top: 280px; /* amount movie cards are moved down from navbar */
}

.movie-search-field {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--main_text_color);
  padding: 0.6rem;
  padding-right: 4.2rem;
}

.movie-search-field i {
  color: lightgray; /* icon-color */
}

.movies input {
  background-color: transparent;
  color: var(--main_text_color);
  height: 18px;
  width: 100px;
  margin-left: 0.45rem;
  margin-right: -2.5rem;
  margin-top: 0.2rem;
  border: none;
}
.movies input:focus {
  outline: none;
}

::placeholder {
  /* for Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main_text_color);
  opacity: 1; /* for Firefox */
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

::-ms-input-placeholder {
  /* for Microsoft Edge */
  color: var(--main_text_color);
}

.movies h3 {
  position: absolute;
  z-index: 2;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  font-weight: 600;
}

.movies h2 {
  margin: 1rem;
  margin-top: 0.3rem;
  color: white;
  font-size: 33px;
  min-width: 200px;
  border: none;
  font-weight: 400;
  font-family: "Fredericka the Great", cursive;
  padding-top: 20px;
}

.movies button {
  margin-bottom: -1rem;
}

.movie-btn {
  padding: 0rem;
}

#movie-sort-btn {
  font-size: 18px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.movie-search-and-sorting-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  margin-top: 5rem;
}
.movie-search-and-sorting-area h2{
  text-align: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  transition: 1s;
}

.movie-card img {
  position: relative;
  border-radius: 20px;
  width: 300px;
  height: 250px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-card h3 {
  color: var(--main_text_color);
  text-decoration: none;
}

.movie-card h4 {
  position: absolute;
  color: lightgray;
  font-size: 10px;
  font-weight: 200;
  padding-top: 3rem;
  z-index: 2;
  font-size: 18px;
}

.movie-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.movieLength {
  color: #8c8c8c; /* color of movie duration on tickets page */
  position: inherit;
  bottom: 5rem;
  font-size: 20px;
  z-index: 2;
  visibility: visible;
}

/* tablet view responsiveness */
@media screen and (min-width: 680px) {
  .movies {
    justify-content: center;
    align-items: flex-start;
    padding-top: 280px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
  }

  .movie-search-and-sorting-area {
    position: absolute;
    top: 0;
    width: 100vw;
    margin-top: 5rem;
  }
  .movies h2 {
    font-size: 50px;
    min-width: 300px;
    margin-top: -0.2rem;
  }

  .movie-search-field {
    padding: 0.6rem;
    padding-right: 4.2rem;
  }

  .movies input {
    width: 270px;
  }
}

/* desktop view responsiveness */
@media screen and (min-width: 1000px) {
  .movies {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
  }
}
