@import url('https://fonts.googleapis.com/css?family=Questrial');

.ticket-form-page {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}

.ticket-form-page ul {
    list-style: none;
}

.ticket-form-box {
    font-family: Questrial;
    padding: 100px 15px 15px 15px;
    flex-direction: column;
    background-color: #111111AA;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.ticket-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111AA;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    background-color: rgba(255, 0, 0, 0.284);
}

.ticket-form-page li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.date-picker {
    min-width: 100px;
}

.movieText {
    font-size: 20px;

    list-style: none;
}

iframe {
    width: 600px;
    height: 400px;
}

.movieText {
    width: 600px;
}

.movie-details {
    width: 80vw;
    background-color: #111111AA;
    border-radius: 20px;
    display: flex;
}


@media screen and (max-width: 750px) {
    iframe {
        width: 300px;
        height: 220px;
    }

    .movieText {
        font-size: 16px;
        padding: 10px;
        width: 300px;
    }

    .ticket-form h3 {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 480px) and (max-width: 950px) and (orientation: landscape) {
    iframe {
        width: 500px;
        height: 220px;
    }

    .movieText {
        font-size: 16px;
        padding: 10px;
        width: 500px;
    }

    .ticket-form {
        display:flex;
        justify-content: center;
        background-color: rgba(255, 0, 0, 0.284);
     }
}