@import url('https://fonts.googleapis.com/css?family=Questrial');

.ticket-form-page {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}

.ticket-form-box {
    font-family: Questrial;
    padding-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.ticket-list {
    padding-right: 0;
    padding-left: 0;
}


.movie-details {
    flex-direction: column;
    background-color: #111111AA;
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.ticket-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111AA;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    background-color: rgba(255, 0, 0, 0.284);

}

.ticket-picker-in-form {
    min-width: 200px;
    min-height: 200px;
    background-color: darkcyan;
    margin-bottom: 15px;
}

.ticket-list {
    list-style: none;
}

.ticket-list li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.date-picker {
    min-width: 100px;
}

.movieText {
    font-size: 20px;

    padding: 20px;
}

iframe {
    width: 40vw;
    height: 420px;
}

.ticket-form-page {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}

.movieText {
    width: 600px;
}
.movie-details {
    width:80vw;
    background-color: #111111AA;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    display: flex;

}

@media screen and (max-width: 750px) {
    iframe {
        width: 300px;
        height: 220px;
    }

    .movieText {
        font-size: 16px;
        padding: 10px;
        width: 300px;
    }

   
    .ticket-form h3 {
        display: flex;
        justify-content: center;
    }


     .ticket-form {
        display:flex;
        justify-content: center;
        background-color: rgba(255, 0, 0, 0.284);

     }

     
}

@media (min-width: 480px) and (max-width: 950px) and (orientation: landscape) {
    iframe {
        width: 500px;
        height: 220px;
    }

    .movieText {
        font-size: 16px;
        padding: 10px;
        width: 500px;
    }

    .ticket-form {
        display:flex;
        justify-content: center;
        background-color: rgba(255, 0, 0, 0.284);

     }
}