@import url('https://fonts.googleapis.com/css?family=Questrial');


.ticket-form-page {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}

.content-frame {
    font-family: Questrial;
    margin-top: 100px;
    margin-bottom: 60px;
    flex-direction: column;
    background-color: #111111AA;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 80vw;
    display: flex;
}

.date-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111AA;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.284);
}

.ticket-form-page li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ticket-form-page ul {
    list-style: none;
    padding: 0px;
}

.date-picker {
    min-width: 100px;
}

.movie-info {
    width: 80%;
}

#detail-list {
    max-width: 95%;
}

iframe {
    width: 600px;
    height: 400px;
}



@media screen and (max-width: 750px) {
    iframe {
        width: 300px;
        height: 220px;
    }

    .movieText {
        font-size: 16px;
        padding: 10px;
        width: 300px;
    }

    .ticket-form h3 {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 480px) and (max-width: 950px) and (orientation: landscape) {
    iframe {
        width: 500px;
        height: 220px;
    }

    .movieText {
        font-size: 16px;
        padding: 10px;
        width: 500px;
    }

    .ticket-form {
        display:flex;
        justify-content: center;
        background-color: rgba(255, 0, 0, 0.284);
     }
}